.highlight(@green, @white);

@font-face {
   font-family: 'ProximaNova';
      src: url('../font/ProximaNova-Light.otf');
      /*src: url('../font/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
           url('../font/ProximaNova-Light.woff') format('woff'),
           url('../font/ProximaNova-Light.ttf') format('truetype'),
           url('../font/ProximaNova-Light.svg#ProximaNova') format('svg');*/
}

@font-face {
   font-family: 'ProximaNovaRegular';
      src: url('../font/ProximaNova-Regular.otf');
}

@font-face {
   font-family: 'ProximaNovaBold';
      src: url('../font/ProximaNova-Bold.otf');
}

@font-face {
   font-family: 'ProximaNovaSemiBold';
      src: url('../font/ProximaNova-Semibold.otf');
}

@font-face {
   font-family: 'OpenSans';
      src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
   font-family: 'GothamRounded';
      src: url('../font/GothamRnd-Light.otf');
}




.info {
	background-color: @whiteMedium;
	min-height: 500px;
	padding: 1em 0;

	h1 {
		font-family: @proximaNovaBold;
		font-size: 52px;
		text-transform: uppercase;
		color: @grayDark;
		//margin: 1em 0 10px 0;
	}

	.line-under {
		border-top: 1px solid @grayDark;
		width: 20px;
		display: block;
	}

	h2 {
		font-family: @proximaNovaRegular;
		font-size: 21px;
		color: @pink;
	}

	hr {
		border-top: 1px solid @grayLight;
	}

	p.info-text {
		color: @gray;
		font-family: @proximaNovaRegular;
		font-size: 18px;
	}
}





// Responsive media queries

@media (min-width: 1000px) {

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.row {
		margin-right: 0;
	}

}

@media (max-width: 767px) {
	
	.info {

		h1 {
			font-size: 22px;
		}

	}
	
	.slider > div,
	.slider .carousel-inner,
	.slider .carousel-inner .item {
		max-height: 370px;
	}
}